@model ShipDock.Models.User

@{
    ViewData["Title"] = "RemindPassword";
}

<h2 style="color: white;">slaptažodžio priminimas</h2>

<form asp-action="RemindPassword" method="post">
    <div class="form-group">
        <label asp-for="Username" style="color: white;"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <p style="color: white; font-size: 16px;">
        @if (ViewBag.Password != null){
            @:Jūsų slaptažodis: @ViewBag.Password
        }
        else {
            @:Jūsų slaptažodis bus atvaizduotas čia:
        }
    </p>
    <button type="submit" class="btn btn-primary">Priminti slaptažodį</button>
    <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="UserLogin">Grįžti</a>
</form>