.vs/
ShipDock/Helpers/Constants.cs
/ShipDock/Helpers/Constants.cs
ShipDock/bin/
ShipDock/obj/
ShipDock/bin/Debug/net6.0/ShipDock.dll
ShipDock/bin/Debug/net6.0/ShipDock.dll
ShipDock/bin/Debug/net6.0/ShipDock.dll
ShipDock/bin/Debug/net6.0/ShipDock.exe
ShipDock/bin/Debug/net6.0/ShipDock.pdb
ShipDock/bin/Debug/net6.0/ShipDock.staticwebassets.runtime.json
ShipDock/Helpers/Constants.cs
ShipDock/obj/Debug/net6.0/apphost.exe
ShipDock/obj/Debug/net6.0/project.razor.vs.json
ShipDock/obj/Debug/net6.0/ref/ShipDock.dll
ShipDock/obj/Debug/net6.0/refint/ShipDock.dll
ShipDock/obj/Debug/net6.0/ShipDock.AssemblyInfo.cs
ShipDock/obj/Debug/net6.0/ShipDock.AssemblyInfoInputs.cache
ShipDock/obj/Debug/net6.0/ShipDock.assets.cache
ShipDock/obj/Debug/net6.0/ShipDock.csproj.AssemblyReference.cache
ShipDock/obj/Debug/net6.0/ShipDock.csproj.CoreCompileInputs.cache
ShipDock/obj/Debug/net6.0/ShipDock.csproj.FileListAbsolute.txt
ShipDock/obj/Debug/net6.0/ShipDock.dll
ShipDock/obj/Debug/net6.0/ShipDock.GeneratedMSBuildEditorConfig.editorconfig
ShipDock/obj/Debug/net6.0/ShipDock.genruntimeconfig.cache
ShipDock/obj/Debug/net6.0/ShipDock.pdb
ShipDock/obj/Debug/net6.0/ShipDock.RazorAssemblyInfo.cache
ShipDock/obj/Debug/net6.0/ShipDock.RazorAssemblyInfo.cs
ShipDock/obj/Debug/net6.0/staticwebassets.build.json
ShipDock/obj/Debug/net6.0/staticwebassets.development.json
ShipDock/obj/Debug/net6.0/staticwebassets.pack.json
ShipDock/obj/project.assets.json
ShipDock/obj/project.nuget.cache
ShipDock/obj/ShipDock.csproj.nuget.dgspec.json
ShipDock/obj/ShipDock.csproj.nuget.g.props
