<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShipDock</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShipDock.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-item:hover > .dropdown-menu {
            display: block;
        }

        ul li {
            list-style-type: none;
            display: block; /* Change display to block */
            margin-bottom: 150px;
        }

        .navbar-nav .nav-link {
            display: block; /* Change display to block */
            color: black; /* Change text color to black */
            font-weight: bold; /* Set font weight to bold */
        }

        .ml-auto {
            display: block !important; /* Change display to block */
        }

        .dropdown > .dropdown-toggle:active {
            pointer-events: none;
        }

        .navbar {
            background-color: white; /* Change navbar background color to white */
            position: fixed; /* Fixed positioning to keep it on the left */
            height: 100%; /* Make navbar height 100% of viewport */
            padding-top: 3.5rem; /* Add padding to the top to avoid overlapping content */
            left: 0; /* Align navbar to the left */
            width: 200px; /* Set the width of the navbar */
            z-index: 1000; /* Ensure the navbar stays on top */
        }

        .container-fluid {
            padding-left: 0; /* Remove default padding on container */
        }

        .container {
            margin-left: 200px; /* Add margin to the left for main content */
            z-index: 1; /* Ensure the main content is behind the navbar */
            position: relative; /* Add position relative to control z-index */
        }

        .navbar-brand {
            padding: 0.5rem 1rem; /* Add padding to the brand */
            margin-bottom: 0; /* Remove margin bottom */
            color: black; /* Set color to black */
            font-size: 30px; /* Increase font size */
            font-weight: bold; /* Set font weight to bold */
            position: absolute; /* Position at the top of the navbar */
            top: 0; /* Align at the top of the navbar */
            left: 0; /* Align at the left of the navbar */
            right: 0; /* Align at the right of the navbar */
            text-align: center; /* Center align text */
        }

        .navbar-toggler {
            display: none; /* Hide toggler on left sidebar */
        }

        body {
            background-color: black;
        }
    </style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShipDock</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Pagrindinis</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="clientSystem" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kliento aptarnavimas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="clientSystem">
                                <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="OpenCargoList">Mano kroviniai</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="OpenClaimCargo">Krovinio atsiėmimas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="ControlSystem" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Valdymas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ControlSystem">
                                <a class="dropdown-item" asp-area="" asp-controller="Schedule" asp-action="Schedule">Laivų atvykimo grafikas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LotInformation" asp-action="LotInformation">Aikštelių statistika</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LotJob" asp-action="WorkerJobs">Krano operavimas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LotJob" asp-action="ListOfTracktors">Traktoriu sąrašas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="AdminSystem" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administratoriams
                            </a>
                            <div class="dropdown-menu" aria-labelledby="AdminSystem">
                                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ShipList">Laivai</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="LotList">Aikštelės</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="UserList">Darbuotojai</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ShipDock - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
