@using System.Data;
@using ShipDock.Helper;
@model User
@{
    DataView dw = (DataView)DataSource.ExecuteSelectSQL("SELECT * FROM UserRole");
    List<string> roles = new List<string> { "Admin", "Manager", "Client" };
    if (dw != null)
    {
        roles.Clear();
        foreach (DataRow row in dw.Table.Rows)
        {
            roles.Add(row["RoleName"].ToString());
        }
    }
}
<style>
    .FormContainerStyle {
        width: 360px;
        border-radius: 8px;
        border: 1px solid #ccc; 
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 20px; 
    }
</style>

<div class="FormContainerStyle">
    <form asp-action="SaveUser" asp-controller="Admin" method="post">
        <div class="form-group">
            <label for="Username">Vartotojas:</label>
            <input type="text" class="form-control" id="Username" name="Username" required>
        </div>
        <div class="form-group">
            <label for="Password">Slaptažodis:</label>
            <input type="text" class="form-control" id="Password" name="Password" required>
        </div>
        <label for="UserRole">Role:</label>
        <select class="form-control" id="UserRole" name="UserRole" required>
            @foreach (var role in roles)
            {
                <option value="@role">@role</option>
            }
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Įrašyti</button>
    </form>
</div>