@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color: white;">
    <div class="display-4">
        <span style="color: blue;">Fastest</span> way to you
    </div>
    <div style="font-size: smaller; margin-top: 50px;">
        There is nothing like order and get without any extra things to worry about
    </div>
    <div style="position: fixed; bottom: 200px; left: 50%; transform: translateX(-50%);">
        <button class="btn btn-primary rounded-pill" style="width: 200px; height: 50px; background-color: white; color: black; border-color: white;">Register your order now</button>
    </div>
</div>
