@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color: white;">
    <div class="display-4">
        <span style="color: blue;">Fastest</span> way to you
    </div>
    <div style="font-size: smaller;">
        There is nothing like order and get without any extra things to worry about
    </div>
</div>
